<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openthedoorprovider">

    <uses-sdk tools:overrideLibrary="gun0912.tedbottompicker" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">



        <activity
            android:name=".SignUp3Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUp1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp2Activity"
            android:screenOrientation="portrait" />

         <!--<activity android:name=".SignUp3Activity" /> -->
        <activity
            android:name=".SignUp4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CancelServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindAJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD9WTvRW8Q7HX6rOhPMz08kcDzGI86Fxy0" />


        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MapActivity">
        </activity>
    </application>

</manifest>